<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= searching %></title>
  <script src='/static/script.js' defer></script>
</head>
<body>
  <h1><%= searching %></h1>

</body>
</html>