body {
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.alcoholSelector {
  display: flex;
}

a.alcoholList {
  text-transform: uppercase;
  align-self: flex-end;
  margin-right: 10px;
}

table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
  padding: 10px;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

td.alcohol {
  min-width: 400px;
}

td.price {
  text-align: center;
  vertical-align: center;
}

tr.beer {
  background-color: green;
}