.alcoholSelector {
  display: flex;
}

a.alcoholList {
  text-transform: uppercase;
  align-self: flex-end;
  margin-right: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}